@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*, *::after, *::before{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    padding: 15vh 5vw;
    text-align: center;
    font-size: 18px;
    background-color: rgb(230, 255, 255, 0.3);
}
.invisible{
    display: none;
}
.visible{
    display: flex;
    align-items: center;
    justify-content: center;
}
#phone,#code{
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}
button{
    margin: 15px;
    background-color: #005171;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: 1px solid grey;
}
button:hover{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
a:hover,a:active,a:visited{
    text-decoration: none;
}
.modal{
    display: block;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}
#modalContent{
    background-color: #FFF;
    margin: calc(15vh + 95px) auto;
    padding: 30px;
    border: 1px solid #888;
    width: 600px;
}
.modalLoaderContent{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #FFF;
    border-color: #FFF transparent #FFF transparent;
    margin: 400px auto;
    animation: rotate 1s 0s infinite both linear;
}
#buttonLoader{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    margin: 15px auto;
    box-shadow: none;
    border: 5px solid #005171;
    border-color: #005171 transparent #005171 transparent;
    background-color: rgb(230, 255, 255, 0.3);
    animation: rotate 1s 0s infinite both linear;
}
@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media (max-width:767px){
    #modalContent{
        width: 80%;
    }
}
@media (max-width:575px){
    body{
        padding-top: 5vh;
    }
    .img-responsive{
        width: 70%;
    }
    .visible{
        flex-direction: column;
    }
    #modalContent{
        margin-top: calc(5vh + 95px);
    }
}